<h1>Editing User</h1>

<% provide :actions_west do %>
  <%= link_to t('.show'), @user, class: 'btn btn-outline-dark' %>
  <%= link_to t('.back'), users_path, class: 'btn btn-outline-dark' %>
<% end %>

<%= render 'form', user: @user %>
