<section class="actions d-flex">
  <div class="btn-group me-auto" role="group">
    <%= yield :actions_west %>
  </div>
  <div class="btn-group" role="group">
    <%= yield :actions_east %>
  </div>
</section>
